.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
.header{
     width: 400px;
     height: 100px;
     background-color: #141f40;
}
.header-in{
    width: 160px;
    height: 60px;
    background-color: white;
    position: relative;
    top: 20px;
    left: 200px;
}
.header-in1{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 10px;
}
.header-in2{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 60px;
}
.header-in3{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    position: absolute;
    top: 10px;
    left: 110px;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.right-on1{
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 40px;
}
.right-in1{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    position: relative;
    top: 5px;
    left: 5px;
}
.right-on2{
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 60px;
    left: 40px;
}
.right-in2{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    position: relative;
    top: 5px;
    left: 5px;
}
.right-on3{
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 80px;
    left: 40px;
}
.right-in3{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    position: relative;
    top: 5px;
    left: 5px;
}
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}


@media screen and (max-width: 767px){
    .header{
        width: 200px;
        height: 200px;
        background-color: #141f40;
   }
   .header-in{
       width: 60px;
       height: 160px;
       background-color: white;
       position: relative;
       top: 20px;
       left: 70px;
   }
   .header-in1{
       width: 40px;
       height: 40px;
       background-color: #a9004b;
       position: absolute;
       top: 10px;
       left: 10px;
   }
   .header-in2{
       width: 40px;
       height: 40px;
       background-color: #a9004b;
       position: absolute;
       top: 60px;
       left: 10px;
   }
   .header-in3{
       width: 40px;
       height: 40px;
       background-color: #a9004b;
       position: absolute;
       top: 110px;
       left: 10px;
   }
   .left{
       width: 200px;
       height: 100px;
       background-color: #80bfa8;
   }
   .right{
       width: 200px;
       height: 250px;
       background-color: #8c2727;
       clear: both;
   }
   .right-on1{
       width: 150px;
       height: 50px;
       background-color: white;
       position: relative;
       top: 20px;
       left: 30px;
   }
   .right-in1{
       width: 140px;
       height: 40px;
       background-color: #ff863f;
       position: relative;
       top: 5px;
       left: 5px;
   }
   .right-on2{
       width: 150px;
       height: 50px;
       background-color: white;
       position: relative;
       top: 40px;
       left: 30px;
   }
   .right-in2{
       width: 140px;
       height: 40px;
       background-color: #ff863f;
       position: relative;
       top: 5px;
       left: 5px;
   }
   .right-on3{
       width: 150px;
       height: 50px;
       background-color: white;
       position: relative;
       top: 60px;
       left: 30px;
   }
   .right-in3{
       width: 140px;
       height: 40px;
       background-color: #ff863f;
       position: relative;
       top: 5px;
       left: 5px;
   }
   .footer{
       width: 200px;
       height: 100px;
       background-color: #d98d30;
   }
}
